@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/* https://htmlcolorcodes.com/
    https://coolors.co */

/* NAVBAR START */
.navbar {
  padding: .8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}
.navbar-nav li {
  padding-right: .7rem;
}

.navbar-nav div {
  padding-right: .7rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}
.nav-link {
  font-size: 1.1em !important;
}
/* NAV BAR END */

/* BODY START*/
.my-h2 {
  text-align: center;
}

.row {
  justify-content: center; 
}

.table-container {
  display: block;
}

.table {
  overflow: scroll;
  table-layout: fixed;
}

.table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.thead {
  background-color: #F8F9FA;
}
/* BODY END */

/* MODAL START */
.modal-open {
  padding-right: 0!important;
  overflow: auto;
}

.modalImg {
  position: relative;
}

 #deleteImg {
  color: white;
  position: absolute;
  top:15px;
  right:20px;
}

.modalImg img {
  width: 100%;
  height: auto;
}
/* MODAL END */

/*---Media Queries --*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    /* padding-left: 10%; */
    text-align: right;
  }
  td.ellipsis1 {
    padding-left: 200px;
  }
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 12px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
    white-space: nowrap;
    text-align: left;
    font-weight: 700;
  }
	
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Tüüp"; }
	td:nth-of-type(3):before { content: "Pealkiri"; }
	td:nth-of-type(4):before { content: "Sissejuhatus"; }
	td:nth-of-type(5):before { content: "Sisu"; }
	td:nth-of-type(6):before { content: "Fookus"; }
	td:nth-of-type(7):before { content: "Aktiivne"; }
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  .my-h2 {
    font-size: 2rem;
    margin-bottom: -1rem;
  }
  /* CONTACT FOOTER START */

  footer {
  padding: 2rem 1.5rem 3rem;
  }

  /* CONTACT FOOTER END */
}
/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}
