@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/* NAVBAR START */
.navbar {
  padding: .8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}
.nav-link {
  font-size: 1.1em !important;
}
/* NAV BAR END */

/* BODY START */
#offset {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.bginnerpicture img {
    width: 400px;
    height: 300px;
    object-fit: cover; 
}

.bginnerpicture img:hover {
  transform: scale(1.05);
}

.bginnerpicture {
      padding-top: 2rem;
      overflow: hidden;
      max-height: 390px;
      text-align: center;
}

.heading {
      padding-top: .5rem;
      text-align: center;
      color: black;
      word-wrap: break-word;
      font-family: Playfair Display, serif;
      font-weight: 700;
      letter-spacing: 0;
}

.box a {
    color: black;
    text-decoration: none;
}
/* BODY END */

/* CONTACT FOOTER START */
footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: black;
}
hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}
/* CONTACT FOOTER END */

/* MODAL POPUP START */
.modal-open {
  padding-right: 0!important;
  overflow: auto;
}

.modal .nav-link {
  color: #666b71;
  text-decoration: none;
}

.modal .nav-link.active, 
.modal .nav-link:hover {
  color: black;
  text-decoration: none;
}

.md-form input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #666b71;  
}
/* MODAL POPUP END */

@media (max-width: 576px) {
  /* CONTACT FOOTER START */
  footer {
  padding: 2rem 1.5rem 3rem;
  }
  /* CONTACT FOOTER END */
}