@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/* NAVBAR START */
.navbar {
  padding: .8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.nav-link {
  font-size: 1.1em !important;
}
/* NAV BAR END */

/* BANNER START */
.topbanner img {
  margin-top: -15%;
  margin-bottom: -15%; 
  height: 100vh;
}

.topbanner {
  width: 100%;
  overflow: hidden;
  height: 500px;
  background: whitesmoke;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* BANNER END */

/* BODY START */
.text h2 {
 text-align: center;
 padding-bottom: 1rem;
}

.text {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
}
/* BODY END */

/* CONTACT FOOTER START */

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: black;
}
hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}
/* CONTACT FOOTER END */

/* MODAL POPUP START */
.modal-open {
  padding-right: 0!important;
  overflow: auto;
}

.modal .nav-link {
  color: #666b71;
  text-decoration: none;
}

.modal .nav-link.active, 
.modal .nav-link:hover {
  color: black;
  text-decoration: none;
}

.md-form input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #666b71;  
}
/* MODAL POPUP END */
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  /* BANNER START */
  .topbanner img {
    margin-top: -15%;
    margin-bottom: -15%; 
    height: 75vh;
  }
  .topbanner {
    width: 100%;
    overflow: hidden;
    height: 375px;
    background: whitesmoke;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  /* BANNER END */
}
@media (max-width: 576px) {
  /* BANNER START */
  .topbanner img {
    margin-top: -10%;
    margin-bottom: -20%; 
    height: 50vh;
   
  }
  .topbanner {
    width: 100%;
    overflow: hidden;
    height: 250px;
    background: whitesmoke;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  /* BANNER END */

  /* CONTACT FOOTER START */
  footer {
  padding: 2rem 1.5rem 3rem;
  } 
  /* CONTACT FOOTER END */
}