@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/* NAVBAR START */
.navbar {
  padding: .8rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}
.nav-link {
  font-size: 1.1em !important;
}
/* NAVBAR END*/

/* CAROUSEL START */
.carousel-item {
  height: 100vh;
  margin-top: -5vh;
  margin-bottom: -3vh;
}
.carousel-inner img {
  width: 100%;

}
.carousel-caption {
position: absolute;
top: 20%;
right: 70%;
}
/* CAROUSEL END */

/* TEAM START */
#aboutUs {
  background-color: #F7F7F7;
}
.heading {
  padding-top: 4rem;
}
.card {
  margin: 0rem 1rem 2rem 1rem;
}
/* TEAM END */

/* TRAINING START */
.h1training {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#trainingjumbo {
  padding: 0rem 2rem 0rem 2rem;
}

.training img {
  max-width: 100%;
  transition: transform .5s ease;
}

.content {
max-width: 100%;
}

.content h2 {
  text-align: center;
}
.content p {
  text-align: center;
}
/* TRAINING END */

/* CONTACT FOOTER START */
footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 1rem 3rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: black;
}
hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}
/* CONTACT FOOTER END */

/* MODAL POPUP START */
.modal-open {
  padding-right: 0!important;
  overflow: auto;
}

.modal .nav-link {
  color: #666b71;
  text-decoration: none;
}

.modal .nav-link.active, 
.modal .nav-link:hover {
  color: black;
  text-decoration: none;
}

.md-form input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #666b71; 
}
/* MODAL POPUP END */

/*---Media Queries --*/
@media (max-width: 1610px) {
  .carousel-item {
    height: auto;
    margin-top: -5vh;
    margin-bottom: -3vh;
  }
}

@media (max-width: 992px) {
  .carousel-item {
    height: auto;
    margin-top: -5vh;
    margin-bottom: -3vh;
  }
  .carousel-caption {
    top: 10%;
    right: 70%;
    }
  .carousel-indicators {
    display: none;
  }

}
@media (max-width: 768px) {
  /* CAROUSEL START */
  .carousel-item {
    height: auto;
    margin-top: -5vh;
    margin-bottom: -3vh;
  }
  .carousel-caption {
  top: 10%;
  right: 70%;
  }
  .carousel-caption h1 {
    font-size: 140%;
  }
  
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .carousel-indicators {
    display: none;
  }
/* CAROUSEL END */

/* TRAINING START */
  .h1training {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  
  #trainingjumbo {
    padding: 0rem 1rem 0rem 1rem;
  }
/* TRAINING END */
}
@media (max-width: 576px) {
/* CAROUSEL START */
 .carousel-indicators {
   display: none;
 }
/* CAROUSEL END */

 /* TEAM START */
.heading {
  font-size: 160%;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: -3rem;
}
.card {
  margin: -.5rem 1rem -.5rem 1rem;
}
.card-body .h4 {
  font-size: 100%;
}
/* TEAM END */

 /* TRAINING START */
 .h1training {
  font-size: 160%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
  font-weight: 600;
}
#trainingjumbo {
  padding: 0rem .5rem 0rem .5rem;
}
.content h2 {
  padding-top: 1rem;
  font-size: 120%;
  font-weight: 500;
}
.content p {
  font-size: 100%;
}
/* TRAINING END */
 
/* CONTACT FOOTER START */
footer {
  padding: 2rem 1.5rem 3rem;
}
/* CONTACT FOOTER END */

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








