@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   background: url(img/koertetaust.jpg) no-repeat;
   background-size: cover;
}
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 4px solid black;
    margin-bottom: 0.5em;
    padding: 0em;
}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 2px;
    margin: 8px 0;
    border-bottom: 1px solid black;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80px;
    margin: 10px;
}
.btn{
    width: 100%;
    border: 2px solid;

}