@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
	color: #222;
}

/* NAVBAR START */
.navbar {
	padding: 0.8rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}
.navbar-nav li {
	padding-right: 0.7rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
	color: black;
}
.nav-link {
	font-size: 1.1em !important;
}
/* NAVBAR END*/

/* BODY START */
ul {
	list-style-type: none;
}

#calendar {
	max-width: 100%;
}

.month {
	padding: 70px 25px;
	width: 100%;
	background: #666b71;
	text-align: center;
}

.month ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#weekdays {
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
}

#weekdays li {
	color: #666b71;
	text-align: center;
}

#days {
	padding: 10px 0;
	background: #f7f7f7;
	margin: 0;
}

#days li {
	list-style-type: none;
	text-align: center;
	font-size: 1rem;
	color: #777;
	padding: 1rem;
	border: 1px solid #ddd;
}

#days li.active {
	background: #666b71;
	color: white !important;
}

#days li:hover {
	background: #ddd;
}

#next,
#prev {
	cursor: pointer;
}

#days,
#weekdays {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
/* BODY END */

/* CONTACT FOOTER START */
footer {
	background-color: #40474e;
	color: white;
	padding: 2rem 0 3rem;
	margin-top: 1rem;
}
footer img {
	height: 3rem;
	margin: 1.5rem 0;
}
footer a {
	color: white;
}
footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem 0.5rem 0 0;
}
footer svg.svg-inline--fa:hover {
	color: black;
}
hr.socket {
	border-top: 0.2rem solid #666b71;
	width: 100%;
}
/* CONTACT FOOTER END */

/* TO DO MODAL START */

.modal-open {
	padding-right: 0 !important;
	overflow: auto;
}

/* TO DO MODAL END */

/*---Media Queries --*/

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
	/* BODY START */
	.month ul li {
		padding-right: 0.7rem;
	}

	#days li {
		padding: 0.5rem;
	}
	/* BODY END */

	/* CONTACT FOOTER START */

	footer {
		padding: 2rem 1.5rem 3rem;
	}

	/* CONTACT FOOTER END */
}

/*---Firefox Bug Fix --*/

.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
	padding: 1rem;
}
